.modal-dialog-login {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 30% !important;
  border-radius: 0% !important;
  margin-left: 35vw;
  height: 60% !important;
  margin-top: 15vh;
  overflow-y: hidden !important;
}

.modal-content {
  width: 100% !important;
}

.form {
  padding: 16px;
  width: 500px;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
  color: #BABECC;
}

.button {
  margin-top: 60px !important;
  padding: 16px;
}

button,
.input_login {
  border: 0;
  outline: 0;
  font-size: 16px;
  background-color: #EBECF0;
}

.button,
.input_login {
  border-radius: 320px !important;
  text-shadow: 1px 1px 0 #FFF;
}

.label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.input_login {
  margin-right: 8px;
  background-color: #EBECF0 !important;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF !important;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  position:relative;
}

.input_login:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF !important;
}

button {
  color: #797e8d;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  padding: 12px;
  color: black;
}

.button{
  position: relative;
}

button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.button.red {
  display: block;
  width: 100%;
  color: #AE1100;
  position: relative;
}

.forgot {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.button .icon {
  margin-right: 8px;
}

.button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 78px;
  height: 78px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 900;
  margin-left: -2vw;
  position: relative;
}

.button.unit .icon {
  margin-right: 0;
}

@media screen and (max-width:700px) {
  .modal-dialog-login {
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    width: 200% !important;
    border-radius: 0% !important;
    margin-left: 0;
    height: 100% !important;
    margin-top: 0;
    overflow-y: hidden !important;
  }
}

@media screen and (max-width:1026px) and (min-width:700px) {
  .modal-dialog-login {
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    width: 100% !important;
    border-radius: 0% !important;
    margin-left: 0;
    height: 100% !important;
    margin-top: 0;
    overflow-y: hidden !important;
  }
}